{{ define "main" -}}

<h1>File taxonomy.html. Используется в случае отсутствия term.html (шаблон отдельной категории или отдельного тега) и/или terms.html (шаблон перечисления категорий и перечисления тегов)</h1>
<h1>{{ .Parent.Title }} > {{ .Title }}</h1>

<h2><a href="/{{ .Lang }}/categories/">Categories</a> / <a href="/{{ .Lang }}/tags/">Tags</a></h2>

{{- with .Pages }}
<ul style="margin-left:20px;">

{{- range  . }}
<li><a href="{{ .RelPermalink}}">{{ with .LinkTitle }}{{ . | safeHTML }}{{ else }}{{ .File.ContentBaseName }}{{ end }}</a></li>
{{- end }}

</ul>
{{- end }}
  
{{- end }}
