/* --- <Route Classifier> --- */
#as-the-first-settlers-route-classifier {margin-top:30px;border-collapse:collapse;}
#as-the-first-settlers-route-classifier td {
	border-bottom-style:solid;
	border-right-style:solid;
	border-bottom-width:1px;
	border-right-width:1px;
	}

.camp_date, .camp_descr	{background-color:#fff;color:#262525;}

#as-the-first-settlers-route-classifier .camp_date, #as-the-first-settlers-route-classifier .track_km {white-space:nowrap;}
#as-the-first-settlers-route-classifier td:not(.track_direction)	{padding:10px;}
#as-the-first-settlers-route-classifier .track_direction		{width:6px;border:none;}
#as-the-first-settlers-route-classifier .track_title			{width:15%;height:35px;}
#as-the-first-settlers-route-classifier .track_descr			{border-right:none;}
#as-the-first-settlers-route-classifier .camp_descr			{width:30%;}
#as-the-first-settlers-route-classifier .camp_date			{text-align:center;}
#as-the-first-settlers-route-classifier tr:first-child>td.color		{border-bottom:1px solid #a1a6c2;border-right:1px solid #a1a6c2;}
#as-the-first-settlers-route-classifier tr:last-child>td.color		{border-right:1px solid #a1a6c2;}
#as-the-first-settlers-route-classifier tr:last-child>td		{border-bottom:none;}
#as-the-first-settlers-route-classifier .camp_descr img			{width:21px;}
#as-the-first-settlers-route-classifier .table_caption td		{background-color:#d8f65e4d;}
#as-the-first-settlers-route-classifier .table_caption			{border-bottom:5px solid #c7cff5;}


/*colours*/
.green			{background-color:#66fb6699;fill:#16e616;}
.green .track_descr, .green .track_km, .green .track_title {color:#103e0d;}
.green .color		{background-color:#16e616;fill:#16e616;}
.green td		{border-color:#78da7266;}

.blue			{background-color:#6284fc1a;fill:#1800ff;}
.blue .track_descr, .blue .track_km, .blue .track_title {color:#333232;}
.blue .color		{background-color:#1800ff;fill:#1800ff;}
.blue td		{border-color:#aaabed4d;}

.yellow			{background-color:#f0ff0066;fill:#f0ff00;}
.yellow .track_descr, .yellow .track_km, .yellow .track_title {color:#2f2e2e;}
.yellow .color		{background-color:#f0ff00;fill:#f0ff00;}
.yellow td		{border-color:#c5a65d4d;}

.branch			{background-color:#1478fa66;fill:#14b6fa;}
.branch .track_descr, .branch .track_km, .branch .track_title {color:#0d1462;}
.branch .color		{background-color:#14b6fa;fill:#14b6fa;}
.branch td		{border-color:#5051a24d;}

/* --- </Route Classifier> --- */
